# Copie este arquivo para 'secrets.yaml' e preencha com suas chaves.
# O arquivo 'secrets.yaml' está no .gitignore e NUNCA deve ser enviado para o GitHub.

api_keys:
  birdeye: "SUA_CHAVE_API_DA_BIRDEYE_AQUI"
  helius: "SUA_CHAVE_API_DA_HELIUS_AQUI" # Para dados on-chain mais rápidos

wallets:
  owner_wallet_address: "SEU_ENDEREÇO_DE_CARTEIRA_SOLANA_AQUI" # Para receber a "Taxa do Dono"
  protocol_treasury_address: "ENDEREÇO_DA_TESOURARIA_DO_PROTOCOLO_AQUI"
